body {
    font-family: Helvetica;
    background: url(img/dot-grid.png);
}

.header {
    width: 90%;
    background: DarkSlateGray;
    padding: 20px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    opacity: 0.75;
    font-weight: bold;
    border-radius: 5px;
    margin: 20px auto;
}

table {
    width: 70%;
    padding: 10px;
    border-collapse: collapse;
    margin: 20px auto;
}

.encabezado {
    padding: 20px;
    background: DarkSlateGray;
    color: #fff;
    opacity: 0.75;
}

.tag {
    padding: 10px;
    margin-top: 10px;
    border-bottom: 1px solid DarkSlateGray;
    font-size: 16px;
    color: LightSlateGray;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    width: 30%;
    text-align: center;
}

.description {
    padding: 10px;
    margin-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 700;
    color: DimGray;
}

.izquierdo {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.derecho {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}